# DATABASE_URL="postgres://sisonotes:sisonotes@localhost:5432/sisonotes"
# REDIS_SERVER_HOST=localhost
# COPILOT_FAL_API_KEY=YOUR_KEY
# COPILOT_OPENAI_API_KEY=YOUR_KEY
# COPILOT_PERPLEXITY_API_KEY=YOUR_KEY

# MAILER_HOST=127.0.0.1
# MAILER_PORT=1025
# MAILER_SERVERNAME="mail.example.com"
# MAILER_SENDER="noreply@siso.agency"
# MAILER_USER="noreply@siso.agency"
# MAILER_PASSWORD="sisonotes"
# MAILER_SECURE=false

# SISONOTES_INDEXER_ENABLED=true
